<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CofeMine - Minecraft Server</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta property="og:title" content="CofeMine" />
    <meta property="og:description" content="Добро пожаловать в конченый мир Minecraft!" />
    <meta property="og:image" content="https://cofemine.ru/static/img/poster.png" />
    <meta name="twitter:card" content="summary_large_image" />

</head>
<body>

    <audio id="background-music" autoplay loop>
        <source src="/static/audio/background-music.mp3" type="audio/mpeg">
        Ваш браузер не поддерживает воспроизведение аудио.
    </audio>

    <!-- Фиксированное меню -->
    <div class="sticky-menu hidden">
        <h1>CofeMine</h1>
        <div class="buttons-container">
            <a href="https://disk.yandex.ru/d/SMmbn7lTqUOT_A" class="button">Скачать сборку</a>
            <a href="https://github.com/HMCL-dev/HMCL/releases/download/release-3.6.12/HMCL-3.6.12.exe" class="button">Скачать лаунчер</a>
        </div>
    </div>

      <!-- WELCOME SCREEN -->
    <section id="welcome" class="welcome-screen">
    <video
       id="bg-video"
       class="welcome-screen__video"
       poster="{{ url_for('static', filename='img/poster.png') }}"
       autoplay muted loop playsinline
    ></video>
    <div class="welcome-content">
      <h1>CofeMine</h1>
      <p>Добро пожаловать в конченый мир Minecraft!</p>
      <a id="download" href="https://disk.yandex.ru/d/SMmbn7lTqUOT_A" class="button">Скачать сборку</a>
        <a href="https://github.com/HMCL-dev/HMCL/releases/download/release-3.6.12/HMCL-3.6.12.exe" class="button">Скачать лаунчер</a>
    </div>
    </section>

    <!-- Раздел "Почему мы?" -->
<section class="why-us">
    <h2>Почему мы?</h2>
    <div class="why-us-container">
        <div class="why-us-card">
            <div class="card-image">
                <img src="/static/img/server-icon.png" alt="Более 0 серверов">
            </div>
            <div class="card-text">
                <h3>Более 0 серверов</h3>
                <p>Играй на любом сервере и теряй новых друзей!</p>
            </div>
        </div>
        <div class="why-us-card">
            <div class="card-image">
                <img src="/static/img/nodonate-icon.png" alt="Нет донат вещей">
            </div>
            <div class="card-text">
                <h3>Нет донат вещей</h3>
                <p>Потому что у нас нет денег и у вас тоже, а если есть, то дайте, кушать хочу.</p>
            </div>
        </div>
        <div class="why-us-card">
            <div class="card-image">
                <img src="/static/img/mods-icon.png" alt="Дохуя модов">
            </div>
            <div class="card-text">
                <h3>Дохуя модов</h3>
                <p>Никто не знает какие именно.</p>
            </div>
        </div>
        <div class="why-us-card">
            <div class="card-video">
                <video autoplay loop muted>
                    <source src="/static/videos/sneaky.mp4" type="video/mp4">
                    Ваш браузер не поддерживает видео.
                </video>
            </div>
            <div class="card-text">
                <h3>Бархатные подкрадули</h3>
                <p>Только у нас подкрадули крашули, один прыжок — и сервера нет нахуй.</p>
            </div>
        </div>
        <div class="why-us-card">
            <div class="card-image">
                <img src="/static/img/economy-icon.png" alt="Развитая экономика">
            </div>
            <div class="card-text">
                <h3>Развитая экономика</h3>
                <p>1 починка за 5928 изумрудов!</p>
            </div>
        </div>
        <div class="why-us-card">
            <div class="card-image">
                <img src="/static/img/bekkel.png" alt="Неведомая летающая хуйня v3.0">
            </div>
            <div class="card-text">
                <h3>Неведомая летающая хуйня v3.0</h3>
                <p>Что это блять?</p>
            </div>
        </div>
        <div class="why-us-card">
            <div class="card-video">
                <video autoplay loop muted>
                    <source src="/static/videos/beholder.mp4" type="video/mp4">
                    Ваш браузер не поддерживает видео.
                </video>
            </div>
            <div class="card-text">
                <h3>Все под контролем (атвечаю)</h3>
                <p>Никаких иноагентов на сервере, большой капитан 1984 конечно не следит за вами</p>
            </div>
        </div>
        <div class="why-us-card">
            <div class="card-image">
                <img src="/static/img/progress.jpg" alt="Прогресс">
            </div>
            <div class="card-text">
                <h3>Ахуевшая система прогресса</h3>
                <p>Всмысле от говна до ядерки 300к в наносекунду за 48 секунд?</p>
            </div>
        </div>
        <div class="why-us-card">
            <div class="card-image">
                <img src="/static/img/poebat.jpg" alt="Да поебать мне">
            </div>
            <div class="card-text">
                <h3>Да поебать мне</h3>
                <p>Да поебать мне ©Админ</p>
            </div>
        </div>
    </div>
</section>


    <!-- Блок "Адрес сервера" -->
    <section class="server-details">
        <h2>Наш сервер</h2>
        <div class="server-card">
            <div class="server-info">
                <h3>CofeMine</h3>
                <p><strong>IP:</strong> cofemine.online</p>
                <div class="server-status">
                    <div class="status-indicator"></div>
                    <p class="status-text">Статус: Загрузка...</p>
                </div>
                <a href="https://disk.yandex.ru/d/SMmbn7lTqUOT_A" class="button download-button">Скачать сборку</a>
            </div>
            <div class="server-image">
                <img src="/static/img/cofemine-server.jpg" alt="CofeMine Server">
            </div>
        </div>
    </section>


    <!-- Блок "Наша команда" -->
    <section class="team">
      <h2>Наша команда</h2>
      <div class="team-container">
        <!-- CofeDish -->
        <a href="{{ url_for('profile', username='cofedish') }}" class="team-member-link">
          <div class="team-member">
            <img src="{{ url_for('static', filename='assets/avatars/avatar-cofedish.png') }}" alt="COFEDISH">
            <h3>COFEDISH</h3>
            <p>DevOps курильщика, Сын докер контейнера</p>
          </div>
        </a>

        <!-- Beetwin -->
        <a href="{{ url_for('profile', username='beetwin') }}" class="team-member-link">
          <div class="team-member">
            <img src="{{ url_for('static', filename='assets/avatars/avatar-beetwin.png') }}" alt="Beetwin">
            <h3>Beetwin</h3>
            <p>Большой босс, генератор 300к в наносекунду</p>
          </div>
        </a>

        <!-- Беккель -->
        <a href="{{ url_for('profile', username='bekkel') }}" class="team-member-link">
          <div class="team-member">
            <img src="{{ url_for('static', filename='assets/avatars/avatar-bekkel.png') }}" alt="Беккель">
            <h3>Беккель</h3>
            <p>Отец неведомой летающей хуйни</p>
          </div>
        </a>

        <!-- Le_Potato -->
        <a href="{{ url_for('profile', username='le_potato') }}" class="team-member-link">
          <div class="team-member">
            <img src="{{ url_for('static', filename='assets/avatars/avatar-le_potato.png') }}" alt="Le_Potato">
            <h3>Le_Potato</h3>
            <p>Заслуженный 3D принтер России</p>
          </div>
        </a>
      </div>
    </section>


    <!-- Подвал -->
    <footer>
        <p>© 2025 CofeMine. Все права защищены Беккелем. <a href="/contacts">Контакты</a></p>
    </footer>

    <script src="/static/js/main.js"></script>
</body>
</html>
